<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Incluir clubes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      function getEstado() {
        $.ajax({
          url: "http://localhost:3000/estados/listar",
          type: 'GET',
          dataType: 'json',
          success: function (res) {
            $('#inputEstado').html('<option selected>(Informe)</option>');
            $.each(res.resultado, function (key, value) {
              $('#inputEstado').append(
                '<option>' + value.sigla_estado + '</option>'
              );
            });
          }
        });
      }
      getEstado();
    });
  </script>
</head>

<body class="container py-4">

  <% if (resultado.id) { %>
    <h1>Editar Clube</h1>
    <form method="post" action="/clubes/edit/<%= resultado.id %>" class="row g-3">
  <% } else { %>
    <h1>Cadastrar Clube</h1>
    <form method="post" action="/clubes/add" class="row g-3">
  <% } %>

    <div class="col-md-6">
      <label for="inputClubes" class="form-label">Nome do Clube</label>
      <input type="text" class="form-control" id="inputClubes" name="nome" placeholder="Nome"
        value="<%= resultado.nome || '' %>">
    </div>

    <div class="col-md-6">
      <label for="inputEstado" class="form-label">Estado</label>
      <select id="inputEstado" name="estado" class="form-select">
        <option selected>Escolher...</option>
      </select>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>

  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>
</html>
