<!DOCTYPE html>
<html>
  <head>
    <title>Lista de clubes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lista de clubes</h1>
    <p><% for (item of resultado) {%>
          <%= item.id%> | <%= item.nome%> | <%= item.sigla_estado%> <br>
       <%}%>
    </p>
  </body>
</html>
